

{% extends 'base.html' %}
{% block content %}
{% load static %}
<form method="post">
	{% csrf_token %}
	<fieldset>
		<h1 class="tablink" onclick="openPage('new')" id="defaultOpen">Add Room</h1>
		<a href="{% url 'editrooms' %}"><h1 class="tablink" onclick="openPage('edit')" id="link_to_edit">Edit Rooms</h1></a>
		<div class="tabcontent" id="new">
			{{ form.as_p }}
			<a href="{% url 'editrooms' %}"><h1 class="submit" onclick="openPage('edit')">View / Edit Rooms</h1>&nbsp;</a>
			<input type="submit" value="Add Room" class="submit">
		</div>
	</fieldset>
</form>

{% endblock %}
